<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>appId</key>
        <string>ppTbOK8XavG2WnhJzpAfn2SD</string>
        <key>authOrigin</key>
        <string>try-uat.passage.dev</string>
        <key>apiUrl</key>
        <string>https://auth-uat.passage.dev</string>
    </dict>
</plist>
